html {
    scroll-behavior: smooth;
}

body{
    background-color: lightgrey;
}

.btn-started{
    font-size: 0.9rem;
}

a.active{
    font-weight: bolder;
}

.bg-navy{
    background-color: rgb(42, 42, 105);
}

.bg-lightgreen{
    background-color: rgba(184, 203, 184, 0.611);
}

h1.header{
    font-size: 5rem;
    font-weight: 100;
}

.img-right-bar{
    height: 100%;
    background-image: url(/assets/image/bg1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
